<section class="row">
  <div class="column column-33 column-offset-33">
    <div class="column-center centered">
      <%= form_for :player, Routes.player_path(@conn, :create), fn f -> %>
        <label>
          Choose Player Name: <%= text_input f, :name %>
        </label>
        <%= submit 'Submit' %>
      <% end %>
    </div>
  </div>
</section>
