<section class="container list-container">
  <h3>Users</h3>
  <ul class="players-list">
  <%= for player <- @players do %>
    <li class="player-item">
      <%= player %>
    </li>
  <% end %>
</section>